body {
  position: relative;
  margin: 0;
  width: 100%;
  height:100vh;
  color:red;
  background-color: black;
  /*padding-bottom: 8em;*/
  font-family: Helvetica;
}
hr{
  background-color:red;
  border-color:red;
}
main{
  width:80%;
  min-height:100% ;
  margin: 8em auto 4em;
  /* border:solid red .1em; */
  /*background-color: red;*/
}
main h1{
  text-align: center;
}
.meetings main img{
  display: block;
  width: 45%;
  margin: 0 auto;
}
h1{
  font-size: 4em;
}
h2 {
  text-align: center;
  font-size: 3em;
}
.mission{
  text-align: center;
  font-style: italic;
  font-size: 2em;
}
.resume h2{
  padding-left: 1em
}
.outer-list{
  list-style: none;
  padding:0 2em;
}
.inner-list{
  list-style-type: disc;
}
.contact-info{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
section{
  padding: 1em;
}
.biography section p,
.biography section ul{
  list-style-type: none;
  padding: 0;
  padding-left: .5em;
}
nav {
  margin: 0;
  background-color: black;
  position:fixed;
  top: 0;
  width:100%;
  border-bottom:red solid .1em;
  min-height: 6.5em;
  z-index: 30;
}
ul.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  align-items: flex-end;

}
ul.nav li {
  font-size: 2em;
  padding: 0.5em;
}

.nav a {
  text-decoration: none;
  color: red;
}
nav img{
  width: 3em;
  /* font-size: 1em; */
  margin: .5em;
}
  ul.nav li:first-child{
    margin-left: -1em;

  }
nav li:first-child{
  padding: 0;
}
.icon{
  display:none;
}
.nav button{
  background:none;
  color:red;
  border:none;
  font-size:1em;
  padding:0;
}
.myIMG{
  border:solid red .1em;
  border-radius: 360px;
  display: block;
  margin: 0 auto;
}
footer {
  display: flex;
  width: 100%;
  clear: both;
  justify-content:space-around;
  align-items:center;
  min-height: 5em;
  border-top: solid .1em;
  position: relative;
  bottom: 0;
}
footer a{
  color: red;
}
footer a:visited{
  color:red;
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;

}
.image-container div{
  width:25%;
  /* height: 100%; */
  border: solid red .1em;
  border-radius: 2em;
  margin: 2em auto;
  padding: 1em;
  font-size:1.5em;
}
.image-container img{
  width:100%;
  /* height: 50%; */
}
@media screen and (max-width:900px){
  ul.nav li{
    display:none;
    margin-left: -1.5em;
  }

  ul.nav{
    flex-direction:column;
    align-items: center;
  }
  ul.nav li.icon{
    display:block;
    position:absolute;
    padding: 0;
    top:.9em;
    right:0;
  }
  ul.nav li.icon button{
    padding: .4em;
    cursor:pointer;
  }
  ul.nav li:first-child {
    display: block;
    position:absolute;
    top:0;
    left:0;
    margin-left: 0em;

  }

  ul.nav li:nth-child(2) {
    margin: 0;
    margin-top: 3.24em;
    padding-top: -3em;
    margin-left: -1.5em;
    width: 120%;
    text-align: center;
    border-top: .05em  #ff8080 solid;
  }

  ul.nav.responsive li{
    display:block;
  }
  .image-container div{
    width: 100%;
  }
  .meetings main img{
  width: 100%;
    
  }

}
